@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles */

/* Your custom CSS below */

:root {
  --color-primary: #06c167; /* Uber Eats green */
  --color-secondary: #1e1e1e; /* Dark UI */
  --color-accent: #ffcc00; /* Optional */
}
